nav {
  padding: 10px 0px;
}

nav a {
  padding-right: 15px;
}

body {
  padding: 40px;
}

nav a.active {
  color: red;
}

.CreateProductBtn {
  background-color: blue;
  color: white;
  border: 0px solid black;
  padding: 6px;
  float: right;
}
.ProductList {
  box-shadow: 0 0 5px 2px #ccc;
  margin: 10px 0px;
  width: 32%;
}
.ProductList:hover {
  cursor: pointer;
}
.ProductList img {
  width: 100%;
  height:100%;
}
.Product {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}
.BottleText {
  text-align: center;
}
.ProductPage {
  display: flex;
  /* padding: 10px; */
  /* border: 2px solid black; */
  height: 100%;
}
.ProductImage {
  width: 40%;
  /* border: 2px solid black; */
  /* height:500px; */
}
.ProductImage img{
  /* border: 2px solid black; */
  
  width:100%;
  height:100%;
  /* padding: 5px; */
}

.ProductDescription {
  width: 60%;
  /* border: 2px solid black; */
  padding: 0px 0px 0px 30px ;
}

.AddToCartBtn {
  background-color: blue;
  color: white;
  border: 0px solid black;
  padding: 6px;
}
.variantImage{
  width:50%;
  /* height: */
}
.variantImage button{
  border: 2px solid black;
  padding:5px;
  width:100px;
  margin:5px;
}